%section
  %h1 Learning
  %h3 ...with Tools
  %p
    %small
      %a{ href: 'http://jednorthridge.com' } Jed Northridge /
      %a{ href: 'http://github.com/jedcn' } @jedcn

%section
  Your happiness stems from what you create.
  %br
  %br
  Share your tools, thoughts, and approach to your art.

-# Chapter 1: Meta-tools
%section
  %h1 Meta-tools
  The tools I use to talk about learning with tools.

%section
  Window Management

%section
  Slides

%section
  Zooming

-# Chapter 2: Tools for Thought
%section
  %h1 Tools for Thought

%section
  %img{ src: 'http://upload.wikimedia.org/wikipedia/en/thumb/c/c1/Thinking%2C_Fast_and_Slow.jpg/200px-Thinking%2C_Fast_and_Slow.jpg' }

%section{ style: 'text-align: left;' }
  A ball and a bat cost $1.10.
  %br
  The bat costs $1.00 more than the ball.
  %br
  How much does the ball cost?

%section{ style: 'text-align: left; font-family: "Bonbon", cursive;' }
  A ball and a bat cost $1.10.
  %br
  The bat costs $1.00 more than the ball.
  %br
  How much does the ball cost?

%section
  %img{ alt: 'wat?', style: 'width: 476px; height: 379px;', src: 'http://moodyeyeview.files.wordpress.com/2012/01/guy-holding-sewing-machine-in-front-of-crashed-ups-truck1.jpg?w=476&h=379' }

%section
  Hungry?

%section
  %h1 SO_P

%section
  Dirty?

%section
  %h1 SO_P

%section
  Florida

%section
  Forgetful

%section
  Gray

%section
  Bald

%section
  Wrinkle

%section
  %img{ alt: 'wat!', src: 'images/third_row.jpeg' }

%section
  %h1 26 miles in a week

%section
  Marathon Monday

%section
  2 miles in the morning
  %br
  2 miles in the evening

%section
  %h1 40 hours in a week

%section
  Work for 25 minutes.
  %br
  Rest for 5 minutes.

-# Chapter 3: Approaching Tools
%section
  %h1 Tools to Approach

%section
  Am I in a local maxima?

%section
  Birthday Paradox

%section
  %h1 Resourceful Tools

%section
  %img{ alt: 'Minuteman Library Card', src: 'http://www.actonmemoriallibrary.org/images/LibCard.jpg' }

%section
  Peepcode

%section
  Advanced Git

%section
  Confreaks

-# Chapter 4: Specific Tools
%section
  nodejam!

%section
  git

%section
  an editor

-# Chapter 5: It's not about the tools
%section
  %blockquote
    when you don't create things, you become defined by your tastes
    rather than ability. your tastes only narrow & exclude people. so
    create.
