%section
  %h1 Learning
  %h3 ...with Tools
  %p
    %small
      %a{ href: 'http://jednorthridge.com' } Jed Northridge /
      %a{ href: 'http://github.com/jedcn' } @jedcn

%section
  Your happiness stems from what you create.
  %br
  %br
  Share your tools, thoughts, and approach to your art.

%section
  %p
    Agenda..
  %ul
    %li Meta-tools
    %li Tools for Thought
    %li Approaching Tools
    %li Actual Tools
    %li It's not about the tools

-# Chapter 1: Meta-tools
%section
  %h1 Meta-tools
  The tools I use to talk about learning with tools.

%section
  Slides

%section
  Window Management

%section
  Zooming

-# Chapter 2: Tools for Thought
%section
  %h1 Tools for Thought
  Your brain is too important to be overlooked.

%section
  Two basketball teams, a gorilla..

%section{ style: 'text-align: left;' }
  A ball and a bat cost $1.10.
  %br
  The bat costs $1.00 more than the ball.
  %br
  How much does the ball cost?

%section{ style: 'text-align: left; font-family: "Bonbon", cursive;' }
  A ball and a bat cost $1.10.
  %br
  The bat costs $1.00 more than the ball.
  %br
  How much does the ball cost?

%section
  Hungry?

%section
  %h1 SO_P

%section
  Dirty?

%section
  %h1 SO_P

%section
  Florida

%section
  Forgetful

%section
  Gray

%section
  Bald

%section
  Wrinkle

%section
  It's like science fiction (quote from Kahneman)

%section
  %img{ alt: "wat?", style: "width: 476px; height: 379px;", src: "http://moodyeyeview.files.wordpress.com/2012/01/guy-holding-sewing-machine-in-front-of-crashed-ups-truck1.jpg?w=476&h=379" }

%section
  %img{ alt: "wat!", src: "images/third_row.jpeg" }

%section
  %h1 26 miles in a week

%section
  Marathon Monday

%section
  2 miles in the morning
  %br
  2 miles in the evening

%section
  %h1 40 hours in a week

%section
  Work for 25 minutes.
  %br
  Rest for 5 minutes.

-# Chapter 3: Approaching Tools
%section
  %h1 Approaching Tools

%section
  Am I in a local maxima?

%section
  %img{ alt: "A graph with a high point and a low point", src: "http://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Extrema_example_original.svg/500px-Extrema_example_original.svg.png", style: "background-color: white;" }

%section
  Birthday Paradox

%section
  %p
    How many people to get to..
  %ul
    %li
      a 100% chance?
      %span.fragment 367
    %li
      a 99% chance?
      %span.fragment 57
    %li
      a 50% chance?
      %span.fragment 23

%section
  .fragment
    %blockquote
      You don't get taught; you have to learn. We tend to look at the
      teacher/learner relationship the wrong way around: it's not that
      the teacher teaches; it's that the student learns. The learning is
      always up to you.
    %small
      %a{ href: 'http://pragprog.com/book/ahptl/pragmatic-thinking-and-learning' } Pragmatic Learning and Thinking

%section
  %p Peepcode
  %ul
    %li
      %a{ src: 'https://peepcode.com/products/rspec-i' } RSpec Videos
    %li
      %a{ src: 'https://peepcode.com/products/advanced-git' } Advanced Git
    %li
      %a{ src: 'https://peepcode.com/products/advanced-git' } Play By Play: Aaron Patterson

%section
  %p Conference Talks
  %ul
    %li
      %a{ src: 'http://confreaks.com/videos/1233-aloharuby2012-refactoring-from-good-to-great' } Refactoring Good to Great
    %li
      %a{ src: 'http://confreaks.com/videos/240-goruco2009-solid-object-oriented-design' } SOLID Object-Oriented Design
    %li
      %a{ src: 'http://vimeo.com/26330100' } Less: The Path to Better Design

%section
  %img{ alt: 'Minuteman Library Card', src: 'http://www.actonmemoriallibrary.org/images/LibCard.jpg' }

-# Chapter 4: Actual Tools
%section
  %h1 Actual Tools
  a project: an editor, ci, tdd, and some git

%section
  %a{ href: 'https://github.com/jedcn/reveal-ck' } reveal-ck
  %span.fragment
    +
    %a.fragment{ href: 'https://github.com/jedcn/reveal-ck' } travis-ci

-# Chapter 5: It's not about the tools
%section
  %h1 It's not about the tools

%section
  %a{ href: 'http://jedcn.xen.prgmr.com:1337/static/index.html' } nodejam

%section
  %blockquote
    when you don't create things, you become defined by your tastes
    rather than ability. your tastes only narrow & exclude people. so
    create.
